*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgb(236, 236, 236);
    padding: 1rem 1rem 0rem 1rem;
}

header h1{
    display: flex;
    /* 令物件有flex特性 會橫向排列是因為預設flex-diretion是row*/
    justify-content: center;
    /* 令物件至中 */

    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-decoration: none;
    /* 文字裝飾關閉 也就是超連結下的底線 */
}

/* navigation */
nav{
    z-index: 0;
    position:sticky;
    /* 使物件能固定在畫面某處 */
    top: 0;
    /* 某處 */
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    /* 當物件受擠壓時會往下排列 */
    justify-content:center;

    background-color: rgb(236, 236, 236);
    list-style-type: none;
    /* 將list的．去掉 */
    
    box-shadow: 0px 10px 6px -6px rgb(116, 116, 116);
    /* h-shadow v-shadow 模糊半徑 擴散距離(若為負責減少陰影範圍) */
}

nav ul li{
    padding: 0.75rem 0.8rem 0.75rem 0.8rem;
}

nav ul li a{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(102, 102, 102);
    transition: 0.3s;
    /* 動畫轉變幾秒 */

    text-decoration: none;
    /* 文字裝飾關閉 也就是超連結下的底線 */
}

nav ul li a:hover{
    color: #1ebdb2;
}

/* section first page */
section.backImg{
    min-height: 90vh;
    /* 令最小高度為 */
    width: 100%;
    background-image: url("./img/computer.jpg");
    background-size: cover;
    /* 設定背景大小 */
    background-position: center;
    /* 設定背景位置 */
    position: relative;
    /* 設定相對位置 意思是相對於自己去調整位置*/
    z-index: -1;

    display: flex;
    justify-content: center;
    /* 調整物件水平位置 */
    align-items: center;
    /* 調整物件垂直位置 */
    text-align: center;
    /* 文字至中 */
}

main h3{
    font-size: 3.5rem;
    color: white;
}


/* setting filter濾鏡 */
div.filter{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    min-height: 90vh;
    position: absolute;
    /* 當最外層設定relative時，內層如果是absolute，那麼內層就會遵照外層的container做設定 */
    /* 假如外層沒設定relative 那麼內層就會遵照目前視窗位置去做設定 */
    top: 0;
    z-index: -2;
}

/* second page */
section.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section.second h2{
    font-size: 2.5rem;
    margin: 2rem 0rem;
}

section.second h4{
    margin: 0rem 0rem 1rem 0rem;
    font-size: 2rem;
}

section.second p{
    font-size: 1.25rem;
}

section.second a{
    margin: 1rem 0rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color:#1ebdb2;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}

section.cards{
    display: flex;
    width: 80%;
    min-height: 80vh;
    flex-wrap: wrap;
}

div.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    flex: 1 1 300px;
    /* grow寬度成長直 shrink寬度縮小倍率 basis寬度最小值 */
}

div.card img{
    margin: 1rem 0rem;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    /* 調整半徑 */
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(78, 78, 78);
    min-height: 10vh;
}

section.footCards{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
}

section.footCards h4{
    font-size: 1.25rem;
    margin: 2rem 0rem;
    color: white;
}

section.footCards h3{
    font-size: 2.25rem;
    color: white;
}

section.footCards a{
    text-decoration: none;
    color: white;
}

div.footCard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    flex: 1 1 300px;
}

@media screen and (max-width: 550px){
    header h1{
        font-size: 24px;
    }
    nav ul li a{
        font-size: 1rem;
    }
    section.backImg{
        min-height: 50vh;
    }
    div.filter{
        min-height: 50vh;
    }
    main h3{
        font-size: 1.4rem;
    }
    section.second h2{
        font-size: 2rem;
    }
    section.footCards h4{
        font-size: 1rem;
    }
}

@media screen and (max-width: 750px){
    div.card img{
        width: 60vw;
        height: 60vw;
    }
}